<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>御数坊PPT模板_v_201505</Template>
  <TotalTime>3</TotalTime>
  <Words>4407</Words>
  <Application>Microsoft Office PowerPoint</Application>
  <PresentationFormat>宽屏</PresentationFormat>
  <Paragraphs>757</Paragraphs>
  <Slides>23</Slides>
  <Notes>22</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>已用的字体</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>13</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>主题</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>2</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>幻灯片标题</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>23</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="38" baseType="lpstr">
      <vt:lpstr>EYInterstate Light</vt:lpstr>
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Tahoma</vt:lpstr>
      <vt:lpstr>Times New Roman</vt:lpstr>
      <vt:lpstr>Microsoft JhengHei</vt:lpstr>
      <vt:lpstr>Verdana</vt:lpstr>
      <vt:lpstr>Wingdings</vt:lpstr>
      <vt:lpstr>微软雅黑</vt:lpstr>
      <vt:lpstr>幼圆</vt:lpstr>
      <vt:lpstr>华文中宋</vt:lpstr>
      <vt:lpstr>Calibri</vt:lpstr>
      <vt:lpstr>宋体</vt:lpstr>
      <vt:lpstr>Impact</vt:lpstr>
      <vt:lpstr>御数坊PPT模板_v_2016</vt:lpstr>
      <vt:lpstr>1_Office 主题</vt:lpstr>
      <vt:lpstr>企业数据管理理论与实践培训</vt:lpstr>
      <vt:lpstr>目录</vt:lpstr>
      <vt:lpstr>为什么要做数据标准</vt:lpstr>
      <vt:lpstr>为什么要做数据标准——数据标准化的目标</vt:lpstr>
      <vt:lpstr>什么是数据标准——数据标准分类的思路</vt:lpstr>
      <vt:lpstr>怎么构建数据标准——数据标准模型</vt:lpstr>
      <vt:lpstr>什么是数据标准——重要数据标准要素定义</vt:lpstr>
      <vt:lpstr>什么是数据标准——重要数据标准要素定义</vt:lpstr>
      <vt:lpstr>什么是数据标准——数据标准要素定义</vt:lpstr>
      <vt:lpstr>怎么构建数据标准——示例</vt:lpstr>
      <vt:lpstr>哪些可作为数据标准</vt:lpstr>
      <vt:lpstr>怎么做数据标准——数据标准化工作原则</vt:lpstr>
      <vt:lpstr>怎么做数据标准——精细化设计基础数据标准管理流程，明确步骤、工作方法以及依据，明确流程中各部门职责</vt:lpstr>
      <vt:lpstr>怎么做数据标准——数据标准执行落地方法</vt:lpstr>
      <vt:lpstr>怎么做数据标准——数据标准落地执行的关键因素与总体策略</vt:lpstr>
      <vt:lpstr>数据标准对民机有什么用</vt:lpstr>
      <vt:lpstr>数据标准对民机有什么用</vt:lpstr>
      <vt:lpstr>数据标准对民机有什么用——示例</vt:lpstr>
      <vt:lpstr>数据标注对民机有什么用</vt:lpstr>
      <vt:lpstr>数据标注对民机有什么用——对于在建系统的落地执行要求</vt:lpstr>
      <vt:lpstr>数据标注对民机有什么用——对于周边系统项目组的配合要求</vt:lpstr>
      <vt:lpstr>数据标准后续如何改进</vt:lpstr>
      <vt:lpstr>谢谢</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
